{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": ["last 3 versions", "not dead", "not < 2%", "not ie 11"],
        "shippedProposals": true
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}
